
.warp{

		
		font-family: 'Roboto', sans-serif;
		
		
		margin: 0 auto;
}

.header{

	position: relative;
}


.text img{

	z-index: 3;
	position:absolute;
	
	width: 600px;
	height: 160px;
	left:25%;
	top: 45%;
}





.obox{
	position:absolute;
	background-color: black;
	width: 600px;
	height: 160px;
	left:25%;
	top: 45%;
	z-index: 2;
	opacity: 0.5;
}



.menu  li{


display: inline-block;

margin-left:25px;
margin-right:25px;
}




.menu li a{
		display:block;
		text-decoration:none;
		color:#ffffff;
		

}



.menu li a :hover{

	color:red;
	background-color:red;
}

.menu{
	background-color:#282a39;
	padding-bottom:22px;
	padding-top:22px;
	text-align: center;
	width: 100%;	 
}



.clearfix{

clear:both;

}






.home{

	background-color: #12619c;
	padding: 40px;
	padding-bottom: 50px;


}

.home img{
 padding-left:400px;
	
	
}

.home h1{

font-family:Microsoft JhengHei;
text-align: center;
color:white;
margin-top:50px;
font-size:30px;

}


.home h2{


text-align: center;
color:black;
margin-top:20px;
font-size:20px;

}




.home h3{

color:white;
text-align: center;

margin-top:20px;
font-size:20px;

}












.skills{


		background-color:#d8d8d8;
		padding-top:20px;
		padding-bottom: 600px;

}

.skills h1{

text-align: center;
color:#0d4b73;
margin-top:50px;
font-size:25px;

}

.skills h3{

margin-top:5px; 
text-align: center;
color:#0d4b73;
}

.skills li{

	width:30%;
	float:left;
	text-align: center;
	margin:20px;
	padding-bottom:60px; 
	 	

}


.skills ul{

	margin-top: 100px; 
}




.work{
padding-bottom: 600px;
	background: #ededed;
	position:relative;
}

.work h1{
	text-align: center;
	color:#0d4b73;
	
	font-size:25px;


}

.work h3{

	margin-top:5px; 
	text-align: center;
	color:#0d4b73;
	margin-bottom: 60px;
}




.box{
	
	left:49%;
	width: 30px;
	border-radius:50px;
	height: 30px;
	background-color:#1d97c8;
	position:absolute;

}

.box2{
	
	left:49%;
	width: 25px;
	border-radius:50px;
	height: 25px;
	background-color:black;
	position:absolute;
	top:40%;

}



.line{
	position: absolute;
	
	width:8px;
	height:400px;
	background-color:#1d97c8;
	position: absolute;
	left:50%;
	top:20%;
}

.portfolio{

background-color:#1d97c8;
padding-bottom: 600px;
padding-top: 40px;

}

.portfolio h1{

text-align: center;
	color:#ffffff;
	font-size:25px;

}


.portfolio h3{

margin-top:5px; 
text-align: center;
color:#ffffff;
}


.portfolio li{

	
	width:21%;
	float:left;
	text-align: center;
	margin:22px;
	padding-bottom:10px; 

}
.portfolio ul{


	margin-top: 60px
}



.footer{

	padding-top:40px; 
	padding-bottom:70px; 
}



.footer h1{


text-align: center;
	color:#f48c15;
	font-size:25px;


}




.footer img{

	margin-left:50px;
	margin-top:100px;
}


.inform li{
float:left;
width: 13%;
} 





.inform{
	margin-right:100px;
	float: right;
	padding-right: 100px;
line-height: 1.5;
}

.inform p{

	font-family:Microsoft JhengHei;
	letter-spacing: 0.8px;　
	line-height: 1.9;
	padding:20px;
	font-size: 18px;
}







.footercolor{
	padding-top: 20px;
	padding-bottom: 30px;
	background-color:#137da7;
}


.footercolor h3{


text-align: center;
color:#ffffff;

}